/* @media query (min-width: 320px) {
    body {
        font-size: 18px;
        line-height: 1.8;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    .container {
        width: 1140px;
        margin: 0 auto;
    }
} */